Repository wzhouwzhou/one-line-wonders, pull requests merged in 2018-10, with the labels that each got.

#7 Added swap variables and pad zeros in javascript
  javascript/pad_zeros.js
  javascript/swap_variables.js
Labels: Lang: Javascript

#11 Add drop and take for additional array functionality in javascript
  CONTRIBUTORS.md
  javascript/drop.js
  javascript/take.js
Labels: Lang: Javascript

#12 Adds find key function is javascript and formatted CONTRIBUTORS.md
  CONTRIBUTORS.md
  javascript/find_key.js
Labels: Lang: Javascript

#13 Create day.py
  CONTRIBUTORS.md
  python/day.py
Labels: Lang: Python

#15 Add gitignore for haskell, python and nodejs
  .gitignore
Labels: enhancement

#16 Add function to get a random item from an array in javascript
  javascript/random.js
Labels: Lang: Javascript

#18 Update README.md
  README.md
Labels: Hacktoberfest, enhancement, selfmerge

#17 added get_age.py (python)
  CONTRIBUTORS.md
  python/get_age.py
Labels: Lang: Python

#20 Brainfuck: Hello world
  CONTRIBUTORS.md
  brainfuck/hello_world.bf
Labels: Lang: Brainfuck

#23 Reverses the given string
  javascript/reverse_string.js
Labels: Lang: Javascript

#24 Makes get_age completely 1 line
  python/get_age.py
Labels: Lang: Python

#25 Reverses the sentence
  javascript/reverse_sentence.js
Labels: Lang: Javascript

#26 Removes the brackets and tags from the html
  javascript/html_strip.js
Labels: Lang: Javascript

#27 Copy an array
  javascript/copy_array.js
Labels: Lang: Javascript

#22 Get the pages query params
  javascript/page_query_params.js
Labels: Lang: Javascript

#30 Matrix Transpose in python
  python/Matrix_Transpose.py
Labels: Lang: Python

#31 Added javascript/reverse_array.js
  CONTRIBUTORS.md
  javascript/reverse_array.js
Labels: Lang: Javascript

#32 Hello-world | Coffeescript
  coffeescript/hello-world.coffee
Labels: Lang: Coffeescript

#33 Addition of R programming language file and one-line.
  CONTRIBUTORS.md
  r/hello.r
Labels: Lang: R

#34 add bash one-liner to remove unused Docker images
  bash/remove-unused-docker-images.sh
Labels: Lang: Bash

#35 create powershell script
  CONTRIBUTORS.md
  honorary-one-line-wonders/powershell/hello.ps1
Labels: Lang: PowerShell

#38 Javascript find max in array
  CONTRIBUTORS.md
  javascript/get_max.js
Labels: Lang: Javascript

#39 Added online to escape the HTML
  CONTRIBUTORS.md
  javascript/escape_html.js
Labels: Lang: Javascript

#41 add getRandomKey oneline wounder
  javascript/get_random_key.js
Labels: Hacktoberfest, Lang: Javascript

#44 Function that returns the set of all subsets given as input
  python/Set_All_Subsets.py
Labels: Lang: Python

#48 Create isTruthy.js
  javascript/isTruthy.js
Labels: Hacktoberfest, Lang: Javascript

#45 Adding generateListOfNumbers
  javascript/generate_list_of_numbers.js
Labels: Hacktoberfest, Lang: Javascript

#46 Create get_mean.js
  javascript/get_mean.js
Labels: Hacktoberfest, Lang: Javascript

#47 Create withoutValue
  javascript/withoutValue
Labels: Hacktoberfest, Lang: Javascript

#51 script to reverse strings
  python/reverse_sentence.py
Labels: Hacktoberfest

#54 Add getUniqueArrayValues function for JavaScript
  javascript/getUniqueArrayValues.js
Labels: Hacktoberfest, Lang: Javascript

#55 Update isEmptyObject to account for Symbols
  javascript/isEmptyObject.js
Labels: Hacktoberfest, Lang: Javascript

#52 added script to convert decimal into currency format
  python/format_currency.py
Labels: Hacktoberfest, Lang: Python

#50 added a script to generate unique password
  python/generate_password.py
Labels: Hacktoberfest, Lang: Python

#56 Create isTruthy.coffee
  coffeescript/isTruthy.coffee
Labels: Hacktoberfest, Lang: Javascript

#57 Perl 6 Hello World and a program that asks for a filename until given one that doesn't exist
  perl/ask-for-filename-until-given-one-that-doesnt-exist.p6
  perl/hello-world.p6
Labels: Hacktoberfest, Lang: Perl

#58 Replace reduce method call in getUniqueArray
  javascript/getUniqueArrayValues.js
Labels: Hacktoberfest, Lang: Javascript

#59 Add a way to files from the current directory
  CONTRIBUTORS.md
  nodejs/get_files_from_current_directory.js
Labels: Hacktoberfest, Lang: Javascript

#60 Added Line to Print Loaded Packages in R
  CONTRIBUTORS.md
  r/print_loaded_packages.r
Labels: Hacktoberfest, Lang: R

#63 perl: hello username or world
  CONTRIBUTORS.md
  perl/hello-world.pl
Labels: Hacktoberfest, Lang: Perl

#65 Add js memoize function
  CONTRIBUTORS.md
  honorary-one-line-wonders/javascript/memoize.js
Labels: Hacktoberfest, Lang: Javascript

#66 Added fibonacci sequence to nth number in Perl 6
  CONTRIBUTORS.md
  perl/fibonacci-sequence-to-the-nth-number.p6
Labels: Hacktoberfest, Lang: Perl

#67 Add js isPrime
  honorary-one-line-wonders/javascript/isPrime.js
Labels: Hacktoberfest, Lang: Javascript

#68 Add get frequency
  honorary-one-line-wonders/javascript/get_frequency.js
Labels: Hacktoberfest, Lang: Javascript

#70 Add isEven
  javascript/isEven.js
Labels: Hacktoberfest, Lang: Javascript

#71 Add hex2rgb
  javascript/hex2rgb.js
Labels: Hacktoberfest, Lang: Javascript

#72 Added one liner selection-like sort in python
  python/select_sort_1_line.py
Labels: Hacktoberfest, Lang: Python

#75 Create fahrenheit_to_celsius
  python/fahrenheit_to_celsius
Labels: Hacktoberfest, Lang: Python

#74 Added factorial program in python
  python/factorial.py
Labels: Hacktoberfest, Lang: Python

#73 one-liner bubblesort in C
  c/bubblesort.c
Labels: Hacktoberfest, Lang: C, Lang: First Contributor

#76 Create approximate_pi
  python/approximate_pi
Labels: Hacktoberfest, Lang: Python

#77 Feature/list all files
  CONTRIBUTORS.md
  python/list_files.py
Labels: Hacktoberfest, Lang: Python

#79 fizzbuzz one liner in c
  CONTRIBUTORS.md
  c/fizzbuzz.c
Labels: Hacktoberfest, Lang: C

#80 Added Perl 6 list files script
  perl/list-files.p6
Labels: Hacktoberfest, Lang: Perl

#84 Added Merge Sort Implementation in Haskell
  CONTRIBUTORS.md
  honorary-one-line-wonders/haskell/mergesort.hs
Labels: Hacktoberfest, Lang: Haskell

#81 Add bubblesort oneliner in go
  go/bubblesort.go
Labels: Hacktoberfest, Lang: First Contributor, Lang: Go

#82 Adding cplusplus selection sort
  CONTRIBUTORS.md
  cplusplus/selection_sort.cpp
Labels: Hacktoberfest, Lang: C++

#83 pi computation with wallis product one liner in c
  c/pi_wallis_product.c
Labels: Hacktoberfest, Lang: C

#88 Added sort files one liner
  python/sort-files-date.py
Labels: Hacktoberfest, Lang: Python

#87 Added one-line solution for grouping file extensions
  python/group-file-extensions.py
Labels: Hacktoberfest, Lang: Python

#90 Added one liner for ranking longest one-liners
  python/longest-one-liner.py
Labels: Hacktoberfest, Lang: Python

#91 Add hello world in Typescript
  CONTRIBUTORS.md
  typescript/hello-world.ts
Labels: Hacktoberfest, Lang: First Contributor, Lang: Typescript

#92 feature(is-touch-device): added touch device detection script
  CONTRIBUTORS.md
  javascript/is-touch-device.js
Labels: Hacktoberfest, Lang: Javascript

#93 Added count filename letters one liner
  python/count-filename-letters.py
Labels: Hacktoberfest, Lang: Python

#94 count the number of valleys traversed by a person
  python/countingValley.py
Labels: Hacktoberfest, Lang: Python

#95 Added Perl 6 log2n and greatest common denominator scripts
  perl/gcd.p6
  perl/log2n.p6
Labels: Hacktoberfest, Lang: Perl

#97 added hamming distance to python
  CONTRIBUTORS.md
  python/hamming_distance.py
Labels: Hacktoberfest, Lang: Python

#98 adding one-line-slot-machine to python folder
  python/one-line-slot-machine.py
Labels: Hacktoberfest, Lang: Python

#101 Prime Number List Generator
  haskell/primenumbers.hs
Labels: Hacktoberfest, Lang: Haskell

#102 Find missing number
  python/find_missing_number.py
Labels: Hacktoberfest, Lang: Python

#105 HTTP server example in Crystal
  CONTRIBUTORS.md
  honorary-one-line-wonders/crystal/http_server.cr
Labels: Hacktoberfest, Lang: Crystal

#103 One line prints hello-world backwards
  javascript/hello-world-backwards.js
Labels: Hacktoberfest, Lang: Javascript

#104 left rotate an element a given number of times in python
  python/leftRotate.py
Labels: Hacktoberfest, Lang: Python

#106 Luck balance problem
  python/luckBalance.py
Labels: Hacktoberfest, Lang: Python

#116 Shorter countingValley solution, part 2!
  python/countingValley-2.py
Labels: Hacktoberfest, Lang: Python

#111 Update palindrome_check.c
  c/palindrome_check.c
Labels: Hacktoberfest, Lang: C

#117 Add Python double factorial function
  python/double_factorial.py
Labels: Hacktoberfest, Lang: Python

#114 added python sieve of eratosthenes
  CONTRIBUTORS.md
  python/sieve_of_eratosthenes.py
Labels: Hacktoberfest, Lang: Python

#115 Feature/sum of digits
  python/sieve_of_eratosthenes.py
  python/sum_of_digits.py
Labels: Hacktoberfest, Lang: Python

#118 check if there is any common letters between strings in python
  python/twoStrings.py
Labels: Hacktoberfest, Lang: Python

#120 Dot Product multiplication between two vectors
  CONTRIBUTORS.md
  python/dot_product.py
Labels: Hacktoberfest, Lang: Python

#119 Create approximate_e.py
  python/approximate_e.py
Labels: Hacktoberfest, Lang: Python

#123 Add ackermann function
  python/ackermann_function.py
Labels: Hacktoberfest, Lang: Python

#127 The Zen of Python, by Tim Peters
  python/that.py
Labels: Hacktoberfest, Lang: Python

#122 Fizzbuzz in python3
  python/fizzbuzz.py
Labels: Hacktoberfest, Lang: Python

#124 nth Fibonnaci number in python
  python/fibonacci.py
Labels: Hacktoberfest, Lang: Python

#125 Bash Script to find the shortest One Liner in the current directory and all sub-directories.
  bash/shortest.sh
Labels: Hacktoberfest, Lang: Bash

#129 Create eapprox.py
  honorary-one-line-wonders/python/eapprox.py
Labels: Hacktoberfest, Lang: Python

#130 Hello world one line in C
  CONTRIBUTORS.md
  c/hello.c
Labels: Hacktoberfest, Lang: C

#131 ApproximatePi in JS
  javascript/approx_pi.js
Labels: Hacktoberfest, Lang: Javascript

#133 Approximate Euler number in js
  javascript/approx_e.js
Labels: Hacktoberfest, Lang: Javascript

#134 Fixed reverse_sentence.py
  python/bigboynaruto_reverse_sentence.py
  python/reverse_sentence.py
Labels: Hacktoberfest, Lang: Python

#135 Insertion sort in js
  javascript/insertion_sort.js
Labels: Hacktoberfest, Lang: Javascript

#137 Get primes py
  CONTRIBUTORS.md
  python/get-primes.py
Labels: Hacktoberfest, Lang: Python

#138 Added e approximation in javascript
  javascript/approximate_e.js
Labels: Hacktoberfest, Lang: Javascript

#139 Create ytsearcher-example.coffee
  coffeescript/ytsearcher-example.coffee
Labels: Hacktoberfest, Lang: Coffeescript

#136 Updated one_lineifier.c
  c/one_lineifier.c
Labels: Hacktoberfest, Lang: C

#140 Added Vowel.py
  python/consonants.py
  python/vowels.py
Labels: Hacktoberfest, Lang: Python

#141 Create number-palindrome.coffee
  coffeescript/number-palindrome.coffee
Labels: Hacktoberfest, Lang: Coffeescript

#142 Create hello-scramble.coffee
  coffeescript/hello-scramble.coffee
Labels: Hacktoberfest, Lang: Coffeescript

#143 Create hello-functions.coffee
  coffeescript/hello-functions.coffee
Labels: Hacktoberfest, Lang: Coffeescript

#145 Approximation of e in cpp
  honorary-one-line-wonders/cplusplus/e_approximation.cpp
Labels: Hacktoberfest, Lang: C++

#146 Issue/144 multiply groovy combinations
  CONTRIBUTORS.md
  groovy/multiply_ints.groovy
Labels: Hacktoberfest, Lang: First Contributor, Lang: Groovy

#147 Swap two integers - cpp
  CONTRIBUTORS.md
  cplusplus/swap_two_integers.cpp
Labels: Hacktoberfest, Lang: C++

#151 Create hello_world.js
  nodejs/hello_world.js
Labels: Hacktoberfest, Lang: Javascript

#152 derivative at a point
  python/derivative.py
Labels: Hacktoberfest, Lang: Python

#153 isPrime one-liner function in C.
  c/isPrime.c
Labels: Hacktoberfest, Lang: C

#154 dict_from_list_python
  python/create_dict_from_two_lists.py
Labels: Hacktoberfest, Lang: Python

#156 Java code
  java
Labels: Hacktoberfest, Lang: Java

#155 added oneliner for mul without arithmetic and binary expressions
  python/multiply_without_arithmeticAndBinary.py
Labels: Hacktoberfest, Lang: Python

#157 one line swap in cpp
  CONTRIBUTORS.md
  cplusplus/one_line_swap.cpp
Labels: Hacktoberfest, Lang: C++

#158 oneliner to download and install 7-zip
  honorary-one-line-wonders/powershell/download_and_install_7-zip.ps1
Labels: Hacktoberfest, Lang: PowerShell

#159 same thing as last time except in one statement without semicolons
  powershell/download_and_install_7-zip.ps1
Labels: Hacktoberfest, Lang: PowerShell

#160 Create excel_dates_to_r.r
  r/excel_dates_to_r.r
Labels: Hacktoberfest, Lang: R

#161 Added a Python Script one liner which generates a dictionary of index's mapping to square numbers
  CONTRIBUTORS.md
  python/dict_of_squares.py
Labels: Hacktoberfest, Lang: Python

#174 Add pi approximation in go
  honorary-one-line-wonders/go/approximate_pi.go
Labels: Hacktoberfest, Lang: Go

#165 Generates png thumbnail from pdf page
  bash/thumbnail_from_pdf_page.sh
Labels: Hacktoberfest, Lang: Bash

#167 iterate multiple lists at a time
  python/iterate_multiple_lists.py
Labels: Hacktoberfest, Lang: Python

#168 display calendar in python
  python/display_calendar.py
Labels: Hacktoberfest, Lang: Python

#169 get frequency of elements in list
  python/frequency_elements.py
Labels: Hacktoberfest, Lang: Python

#178 Semi-prime.py
  honorary-one-line-wonders/python/semiprime.py
Labels: Hacktoberfest, Lang: Python

#170 Added one-liner to estimate the value of golden ratio in Python
  python/golden_ratio.py
Labels: Hacktoberfest, Lang: Python

#173 Add Euler's number approximation in go
  CONTRIBUTORS.md
  go/approximate_e.go
Labels: Hacktoberfest, Lang: Go

#175 Python: One-liner to strip a file of whitespace
  CONTRIBUTORS.md
  python/strip_file_of_whitespace.py
Labels: Hacktoberfest, Lang: Python

#179 Python code to reverse a string
  honorary-one-line-wonders/python/String_Reversal.py
Labels: Hacktoberfest, Lang: Python

#180 Added Ceasar Cipher Program
  python/caesar.py
Labels: Hacktoberfest, Lang: Python

#183 Feature/caesar
  CONTRIBUTORS.md
  cplusplus/caesar.cpp
Labels: Hacktoberfest, Lang: C++

#182 Create quine.hs
  haskell/quine.hs
Labels: Hacktoberfest, Lang: Haskell

#184 Lisp one liner for nth fibonacci number
  clisp/fibonacci.lisp
Labels: Hacktoberfest, Lang: Lisp

#163 michaelcommit
  python/AddTwoNumbers.py
Labels: Hacktoberfest, Lang: Python

#185 Added binet's Fibonacci equation solution
  clisp/binet_fibonacci.lisp
Labels: Hacktoberfest, Lang: Lisp

#186 Add a direct fibonacci equation for Python
  python/binet_fibonacci.py
Labels: Hacktoberfest, Lang: Python

#187 String Reversal by python
  CONTRIBUTORS.md
  python/strrev.py
Labels: Hacktoberfest, Lang: Python

#190 subratred reverse String Python
  honorary-one-line-wonders/python/reversePy_subratred.py
Labels: Hacktoberfest, Lang: Python

#188 Even_Odd_Checker
  cplusplus/even_odd_checker.cpp
Labels: Hacktoberfest, Lang: C++

#189 Python: Print environment variables sorted alphabetically by key
  python/print_sorted_environment_variables.py
Labels: Hacktoberfest, Lang: Python

#191 Python: Merging dictionaries example
  python/merge_dictionaries.py
Labels: Hacktoberfest, Lang: Python

#193 HTML code
  honorary-one-line-wonders/html/Hello_World.html
Labels: Hacktoberfest, Lang: First Contributor, Lang: HTML

#195 Factorial of a number
  honorary-one-line-wonders/cplusplus/factorial.cpp
Labels: Hacktoberfest, Lang: C++

#196 Reverse a String
  cplusplus/string_reverse.cpp
Labels: Hacktoberfest, Lang: C++

#197 Merge 2 Sorted Arrays
  honorary-one-line-wonders/python/merge.py
Labels: Hacktoberfest, Lang: Python

#198 One liner quick sort added in python
  CONTRIBUTORS.md
  python/quicksorty.py
Labels: Hacktoberfest, Lang: Python

#200 Test if year is leap year with one line test
  python/leap_year.py
Labels: Hacktoberfest, Lang: Python

#202 Add Javascript factorial
  CONTRIBUTORS.md
  javascript/factorial.js
Labels: Hacktoberfest, Lang: Javascript

#203 Javascript Fibonacci
  javascript/factorial.js
  javascript/fibonacci.js
Labels: Hacktoberfest, Lang: Javascript

#204 One line pitagorean triple that sums n
  haskell/pitagor_trip.hs
Labels: Hacktoberfest, Lang: Haskell

#208 get_word_with_most_unique_characters.py
  python/get_word_with_most_unique_characters.py
Labels: Hacktoberfest, Lang: Python

#209 Add one-liner for pascals triangle
  python/pascals_triangle.py
Labels: Hacktoberfest, Lang: Python

#213 Generate a Fibonacci sequence
  python/fibonacci_seq.py
Labels: Hacktoberfest, Lang: Python

#214 fibonacci that conserves memory
  honorary-one-line-wonders/nodejs/fibonacci_inMemory.js
Labels: Hacktoberfest, Lang: Javascript
