Repository wzhouwzhou/one-line-wonders, pull requests merged in 2018-11, with the labels that each got.

#287 YCombinator in Clojure
  honorary-one-line-wonders/clojure/ycombinator.clj
Labels: Hacktoberfest, Lang: Lisp

#286 YCombinator in OCaml
  CONTRIBUTORS.md
  ocaml/ycombinator.ml
Labels: Hacktoberfest, Lang: OCaml

#288 Valid Anagram Problem
  scala/anagram/Anagram.scala
Labels: Hacktoberfest, Lang: First Contributor, Lang: Scala

#290 Added one line sorting for arrays
  CONTRIBUTORS.md
  javascript/sorting/sort_one_line_array.js
Labels: Hacktoberfest, Lang: Javascript

#293 Create generate_beep.cpp
  cplusplus/generate_beep.cpp
Labels: Hacktoberfest, Lang: C++

#294 Added python one-liner for anagram
  python/anagram/anagram-one-liner.py
Labels: Hacktoberfest, Lang: Python

#295 updating contributors and adding copy_object js
  CONTRIBUTORS.md
  javascript/copy_object.js
Labels: Hacktoberfest, Lang: Javascript

#296 Create creating_alert_sound.c
  c/creating_alert_sound.c
Labels: Hacktoberfest, Lang: C

#297 Added python one liner for fibonacci
  python/fibonacci/fibonacci-one-liner.py
Labels: Hacktoberfest, Lang: Python

#298 Create get_user_input.js
  javascript/get_user_input.js
Labels: Hacktoberfest, Lang: Python

#299 Fibonacci and Anagram in cpp
  honorary-one-line-wonders/cpp/Fibonacci in cpp.cpp
  honorary-one-line-wonders/cpp/anagram.cpp
Labels: Hacktoberfest, Lang: C++

#300 python_oneliner_list_key_based_sorting
  CONTRIBUTORS.md
  python/sorting/list_key_based_sorting.py
Labels: Hacktoberfest, Lang: Python

#306 Pi approximation from basel problem.
  ruby/approximate_pi/approximate_pi_basel.rb
Labels: Hacktoberfest, Lang: Ruby

#307 Decode Anagram Added Again
  python/anagram/decode_anagram.py
Labels: Hacktoberfest, Lang: Python

#308 Added approximation to e^pi, using Taylor approximation
  python/e_to_pi.py
Labels: Hacktoberfest, Lang: Python

#315 one-liner for fibonacci in haskell
  haskell/fibonacci/fibonacci.hs
Labels: Hacktoberfest, Lang: Haskell

#318 Add myself to Contributors list and add Scala code
  CONTRIBUTORS.md
  scala/onlyEvenDigits/onlyEvenDigits.scala
Labels: Lang: Scala

#319 Added Some Documentation
  c/caesar/caesar.c
Labels: Meta: Documentation

#316 Added discord-bot
  CONTRIBUTORS.md
  honorary-one-line-wonders/python/discord-bot.py
Labels: Hacktoberfest, Lang: Python

#282 Flames test game
  honorary-one-line-wonders/python/baseconversion_from_base_2_to_32.py
  honorary-one-line-wonders/python/flames.py
  honorary-one-line-wonders/python/tic-tac-toe.py
Labels: Hacktoberfest, Lang: Python
