Repository wzhouwzhou/one-line-wonders, pull requests merged in 2019-10, with the labels that each got.

#325 Filter Unique Items from Array.
  javascript/unique/ananta_unique_array.js
Labels: Hacktoberfest, Lang: Javascript, enhancement

#326 Created duplicate remover oneliner
  CONTRIBUTORS.md
  cplusplus/unique/remove_duplicates.cpp
Labels: Hacktoberfest, Lang: C++

#327 add remove_duplicate_elements.cpp algorithm
  cplusplus/unique/remove_duplicate_elements.cpp
Labels: Hacktoberfest, Lang: C++

#328 Add Bash hello
  bash/hello/Kmek_hello.sh
Labels: Hacktoberfest, Lang: Bash

#329 Added a programme to calculate Factorial of a number.
  CONTRIBUTORS.md
  cplusplus/balgopal123_factorial.cpp
Labels: Hacktoberfest, Lang: C++

#331 Powershell unique array
  powershell/unique/Kmek_UniqueArray.ps1
Labels: Hacktoberfest, Lang: PowerShell

#334 Fix empty output in bash/ip.sh.
  CONTRIBUTORS.md
  bash/icedream_ip_awk.sh
Labels: Hacktoberfest, Lang: Bash

#335 JS two strings unique letters
  javascript/unique/jackkav_two_strings.js
Labels: Hacktoberfest, Lang: Javascript

#339 Added dart
  dart/hello/gkanishk_hello.dart
  rust/hello/gkanishk_helloworld.rs
Labels: Hacktoberfest, Lang: Dart, Lang: First Contributor, Lang: Rust

#340 Two Rust one-liners
  CONTRIBUTORS.md
  rust/fibonacci/Henning-K_fibonacci.rs
  rust/prime/Henning-K_prime.rs
Labels: Hacktoberfest, Lang: Rust

#341 Quick one-liner for fibonacci in python
  CONTRIBUTORS.md
  python/fibonacci/brianhopper_fib_one-Liner.py
Labels: Hacktoberfest, Lang: Python

#342 Added a hello world in 3 languages
  CONTRIBUTORS.md
  python/hello/jaakofalltrade_helloworld.py
Labels: Hacktoberfest, Lang: Python

#343 add bash retry_until
  bash/jackkav_retry_until.sh
Labels: Hacktoberfest, Lang: Bash

#344 Pascal's Triangle in Haskell
  CONTRIBUTORS.md
  haskell/Ojaswy_pascal.hs
  perl/prime/Ojaswy_prime.pl
Labels: Hacktoberfest, Lang: Haskell

#346 Create mergesort.c
  honorary-one-line-wonders/c/codetheorem_mergesort.c
Labels: Lang: C

#347 Feature leprechaun branch
  CONTRIBUTORS.md
  python/even/ThaLeprechaun_list_of_odd_numbers.py
Labels: Hacktoberfest, Lang: Python

#348 show 2019 months
  python/adriennelevvie_show2019.py
Labels: Hacktoberfest, Lang: Python

#403 Add files via upload
  java/mrinal-pandey_height_binary_tree.java
Labels: Hacktoberfest, Lang: Java

#398 Sum of N Natural Numbers
  java/PRITI1999_sum_of_natural_numbers.java
Labels: Hacktoberfest, Lang: Java

#352 Create is_prime in Ruby
  CONTRIBUTORS.md
  ruby/prime/onlyasmalllizard_is_prime.rb
Labels: Hacktoberfest, Lang: Ruby

#354 Adds Solution To Unique Array
  CONTRIBUTORS.md
  cplusplus/unique/subhamX_unique_array.cpp
Labels: Hacktoberfest, Lang: C++

#368 added a file
  honorary-one-line-wonders/javascript/sayoojtmc_timer.js
Labels: Lang: Javascript

#356 C & C++ Hello World hacktoberfest!
  .gitignore
  CONTRIBUTORS.md
  honorary-one-line-wonders/c/hello/juricav_helloWorld.c
  honorary-one-line-wonders/cplusplus/hello/juricav_helloWorld.cpp
Labels: Hacktoberfest, Lang: C, Lang: C++

#357 Machin approximation of pi in bash
  CONTRIBUTORS.md
  bash/approximate_pi/pbootly_machin-pi-approximation.sh
Labels: Hacktoberfest, Lang: Bash

#401 OCaml Hello World
  CONTRIBUTORS.md
  ocaml/hello/AnkitaBIT_hello.ml
Labels: Hacktoberfest, Lang: OCaml

#359 Bash/fizzbuzz
  bash/pbootly_fizzbuzz.sh
Labels: Hacktoberfest, Lang: Bash

#383 Solved Issue Combinations #381 as powerset.cpp
  honorary-one-line-wonders/cplusplus/yashagarwal1999_powerset.cpp
  python/yashagarwal1999_powerset.py
Labels: Hacktoberfest, Lang: C++, Lang: Python

#361 Added one line fibonacci solution javascript
  javascript/fibonacci/audrius59_fibonacci2.js
Labels: Hacktoberfest, Lang: Javascript

#360 Javascript Shallow Clone
  CONTRIBUTORS.md
  javascript/toluwalope19_spread.js
Labels: Hacktoberfest, Lang: Javascript

#363 One line fuzzy string comparison
  python/JayWelborn_similar_strings.py
Labels: Hacktoberfest, Lang: Python

#324 Create T-Primes.cpp
  cplusplus/prime/radensaleh_T-Primes.cpp
Labels: Hacktoberfest, Lang: C++

#362 Awk/temperature
  awk/pbootly_temperature_convertor.awk
Labels: Hacktoberfest, Lang: Awk, Lang: First Contributor

#419 Selfmerge master into develop branch
  .github/FUNDING.yml
  .gitignore
  CONTRIBUTORS.md
  awk/pbootly_temperature_convertor.awk
  bash/approximate_pi/pbootly_machin-pi-approximation.sh
  bash/hello/Kmek_hello.sh
  bash/icedream_ip_awk.sh
  bash/jackkav_retry_until.sh
  bash/pbootly_fizzbuzz.sh
  cplusplus/balgopal123_factorial.cpp
  cplusplus/prime/radensaleh_T-Primes.cpp
  cplusplus/unique/ahnafhf21_remove_duplicate_elements.cpp
  cplusplus/unique/jagwiredev_remove_duplicates.cpp
  cplusplus/unique/remove_duplicates.cpp
  cplusplus/unique/subhamX_unique_array.cpp
  dart/hello/gkanishk_hello.dart
  haskell/Ojaswy_pascal.hs
  honorary-one-line-wonders/c/codetheorem_mergesort.c
  honorary-one-line-wonders/c/hello/juricav_helloWorld.c
  honorary-one-line-wonders/cplusplus/hello/juricav_helloWorld.cpp
  honorary-one-line-wonders/cplusplus/yashagarwal1999_powerset.cpp
  honorary-one-line-wonders/javascript/sayoojtmc_timer.js
  java/PRITI1999_sum_of_natural_numbers.java
  java/mrinal-pandey_height_binary_tree.java
  javascript/fibonacci/audrius59_fibonacci2.js
  javascript/tnptop_tuplesToObject.js
  javascript/toluwalope19_spread.js
  javascript/unique/ananta_unique_array.js
  javascript/unique/jackkav_two_strings.js
  javascript/unique/jagwiredev_remove_duplicates.js
  ocaml/hello/AnkitaBIT_hello.ml
  perl/prime/Ojaswy_prime.pl
  powershell/unique/Kmek_UniqueArray.ps1
  python/JayWelborn_similar_strings.py
  python/adriennelevvie_show2019.py
  python/even/ThaLeprechaun_list_of_odd_numbers.py
  python/fibonacci/brianhopper_fib_one-Liner.py
  python/hello/Kmek_hello.py
  python/hello/jaakofalltrade_helloworld.py
  python/yashagarwal1999_powerset.py
  ruby/prime/onlyasmalllizard_is_prime.rb
  rust/fibonacci/Henning-K_fibonacci.rs
  rust/hello/gkanishk_helloworld.rs
  rust/prime/Henning-K_prime.rs
Labels: selfmerge

#414 One-line python factorial calculator and hello in c
  CONTRIBUTORS.md
  c/hello/n6wbi6_hello_world.c
  python/factorial/factorial_n6wbi6.py
Labels: Lang: C, Lang: Python

#369 Added program that checks if the number is a square number
  honorary-one-line-wonders/cplusplus/U3X_check_square.cpp
Labels: Lang: C++

#412 Solved #162 #96 #78 #323
  honorary-one-line-wonders/cplusplus/yashagarwal1999_Largest _sum_of_consecutive_numbers_in_an_array.cpp
  honorary-one-line-wonders/cplusplus/yashagarwal1999_countingValley.cpp
  python/approximate_pi/yashagarwal1999_get_Approximate_Pi.py
  python/unique/yashagarwal1999_unique_array.py
Labels: Hacktoberfest, Lang: C++, Lang: Python
