Repository wzhouwzhou/one-line-wonders, pull requests merged in 2020-10, with the labels that each got.

#418 Retrieve unique values from an array (JS)
  javascript/unique/wzhouwzhou_unique_values.js
Labels: Lang: Javascript, hacktoberfest-accepted

#437 Update README.md
  README.md
Labels: selfmerge

#442 added find-prime-number to R/
  .gitignore
  r/prime/KKulma_find-prime-number.R
Labels: Lang: R, hacktoberfest-accepted

#443 Create wzhouwzhou_delay.js
  nodejs/wzhouwzhou_delay.js
Labels: Lang: Javascript, hacktoberfest-accepted

#421 Add a list of par perfect squares
  python/mirandars_par-perfect-squares.py
  python/mirandars_parity-test.py
Labels: Lang: Python, hacktoberfest-accepted

#439 Powershell Get list of people in space
  CONTRIBUTORS.md
  powershell/Astronaut/rpstester_ListOfPeopleInSpace.ps1
Labels: Lang: PowerShell, hacktoberfest-accepted
