Repository wzhouwzhou/one-line-wonders, pull requests merged in 2020-07, with the labels that each got.

#372 swap two numbers in C.
  CONTRIBUTORS.md
  c/gcd/shubhamdpatil_gcd.c
  c/swap/shubhamdpatil_swap.c
Labels: Hacktoberfest, Lang: C

#432 Feature/python bogosort
  python/sorting/ngweihow_bogosort.py
Labels: Hacktoberfest, Lang: Python

#428 Added ZombieChibiXD_Palindrome.js
  CONTRIBUTORS.md
  javascript/ZombieChibiXD_Palindrome.js
Labels: Hacktoberfest, Lang: Javascript

#409 Python largest 8 byte number and decimal conversion
  CONTRIBUTORS.md
  python/predator21x_The-largest_number_that_can_be_represented_by_8_Byte.py
  python/predator21x_decimal_conversion.py
Labels: Hacktoberfest, Lang: Python

#417 Create Swap.c
  c/HarshitaArun_Swap.c
Labels: Hacktoberfest, Lang: C
