Repository wzhouwzhou/one-line-wonders, pull requests merged in 2021-10, with the labels that each got.

#449 readme: change year to 2021
  README.md
Labels: enhancement, hacktoberfest-accepted, Meta: Documentation

#447 Added ordered prepend string number
  python/prathimacode-hub_ordered_prepend_string_num.py
Labels: Lang: Python

#450 Create rpxs_add.js
  javascript/rpxs_add.js
Labels: hacktoberfest-accepted, Lang: Javascript

#452 Create rpxs_subtract.js
  javascript/rpxs_subtract.js
Labels: hacktoberfest-accepted, Lang: Python

#451 Create wzhouwzhou_add.coffee
  coffeescript/wzhouwzhou_add.coffee
Labels: hacktoberfest-accepted, Lang: Coffeescript

#453 Create wzhouwzhou_subtract.coffee
  coffeescript/wzhouwzhou_subtract.coffee
Labels: hacktoberfest-accepted, Lang: Coffeescript

#434 One liner Python script to return unique elements of an arbitrary list
  python/unique/RaInta_unique_array.py
Labels: hacktoberfest-accepted, Lang: Python

#454 feat(js): empty array fn
  javascript/vetlix_empty_array.js
Labels: hacktoberfest-accepted, Lang: Javascript

#433 Add Find Maximum between 2 Digits in Java
  CONTRIBUTORS.md
  java/sgirabin_Max2Digit.java
Labels: Lang: Java, Meta: Contributors

#455 feat(js): deepflat array fn
  javascript/vetlix_deepflat_array.js
Labels: hacktoberfest-accepted, Lang: Javascript

#444 Create wzhouwzhou_check_brackets.js
  javascript/wzhouwzhou_check_brackets.js
Labels: hacktoberfest-accepted, Lang: Javascript

#457 feat(js): honorary map array fn
  honorary-one-line-wonders/javascript/vetlix_array_map.js
Labels: Lang: Javascript

#459 Create collatz_conjecture.js
  javascript/Xander1233_collatzConjecture.js
Labels: hacktoberfest-accepted, Lang: Javascript

#458 Create xander_convert_number_to_one_or_bigger.js
  CONTRIBUTORS.md
  javascript/xander_convert_number_to_one_or_bigger.js
Labels: Lang: Javascript

#461 Rename xander_convert_number_to_one_or_bigger.js
  javascript/Xander1233_convert_number_to_one_or_bigger.js
Labels: selfmerge, Meta: Program Update

#431 Feature/rust pythagoras
  rust/maths/ngweihow_pythagoras.rs
Labels: hacktoberfest-accepted, Lang: Rust

#440 Powershell strong pw
  CONTRIBUTORS.md
  powershell/turbosnute_strongpassword.ps1
Labels: hacktoberfest-accepted, Lang: PowerShell, Meta: Contributors

#405 mspatel927_Greater_Than.py
  python/mspatel927_Greater_Than.py
Labels: hacktoberfest-accepted, Lang: Python

#460 Create wzhouwzhou_add.go
  go/wzhouwzhou_add.go
Labels: hacktoberfest-accepted, Lang: Go

#424 Rust: Find Area of Circle given Radius
  rust/maths/ngweihow_areacircle.rs
Labels: hacktoberfest-accepted, Lang: Rust

#429 Create antonio32a_world.py
  python/hello/antonio32a_world.py
Labels: hacktoberfest-accepted, Lang: Python

#408 mspate927_mean.py
  python/mspatel927_Random_Card_Draw.py
Labels: hacktoberfest-accepted, Lang: Python

#395 Add files via upload
  python/bhavikb07_Factors.py
Labels: hacktoberfest-accepted, Lang: Python

#406 mspatel927_Mirror_List.py
  python/mspatel927_Mirror_List.py
Labels: hacktoberfest-accepted, Lang: Python

#462 Add bash one-liner script to print top 10 user agents from access.log
  CONTRIBUTORS.md
  bash/antoooks_print_top_10_user_agents_from_access_log.sh
Labels: hacktoberfest-accepted, Lang: Bash, Meta: Contributors

#425 Added ZombieChibiXD_Palindrome.java
  CONTRIBUTORS.md
  java/ZombieChibiXD_Palindrome.java
Labels: hacktoberfest-accepted, Lang: Java, Meta: Contributors

#387 Remove Duplicates from Array using Perl5
  perl/remove_duplicates.pl
Labels: hacktoberfest-accepted, Lang: Perl

#391 added hello world in bash
  bash/hello.sh
Labels: hacktoberfest-accepted, Lang: Bash

#371 add js shuffle
  javascript/shuffle_array.js
Labels: hacktoberfest-accepted, Lang: Javascript
